@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
}
section {
  display: flex;
  min-height: 100vh;
  background: #eaeaea;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 10em;
  color: #eaeaea;
  text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.08);
  text-shadow: -6px -6px 12px rgba(0, 0, 0, 0.08);
}
